body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
}

/*-----HEADER-----*/

header {
    display: flex;
    width: 100%;
    padding-top: 0;
    margin: 0;
    justify-content: space-around;
    border: 1px solid black;
    box-shadow: 10px 5px 10px orangered;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    margin-left: 
    25px;
}

header li a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

header li a:hover {
    color: orangered;
    text-decoration:underline;
}

#logo {
    width: 10%;
    height: 10%;
}

/*-----SHOWCASE-----*/

.showcase {
    display: flex;
    justify-items: center;
    margin-top: 60px;
    margin-left: 15%;
}

.showcase img {
    width: 700px;
    height: 700px;
}

.showcase h1 {
    font-size: 60px;
}

.left-content {
    text-align: center;
    width: 700px;
    margin-top: 80px;
}

.showcase button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 24px;
}