body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
}

/*-----HEADER-----*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: blanchedalmond;
    box-shadow: 10px 7px 20px orangered;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    margin-left: 
    25px;
}

header li a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

header li a:hover {
    color: orangered;
    text-decoration:underline;
}

#logo {
    width: 15%;
    height: 15%;
}

/*-----SHOWCASE-----*/

.showcase {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.showcase img {
    width: 700px;
    height: 700px;
}

.left-content {
    text-align: center;
    width: 700px;
    margin-top: 80px;
}

.showcase button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 24px;
    width: 350px;
    height: 50px;
}

.showcase button:hover {
    cursor: pointer;
    background-color: black;
    color: blanchedalmond;
}

/*-----ABOUT US*-----*/
#about-us {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parapraph {
    display: flex;
    max-width: 1000px;
}

#pr {
    text-align: right;
}

.paragraph-content {
    margin: 25px;
    margin-top: 65px;
}

.about-us img {
    border-radius: 50%;
    width: 250px;
}
